html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    padding-top: 1rem;
}

header, footer {
    background-color: #f3f3f3;
}

.scrolling-sidebar {
    overflow: auto;
    padding-bottom: 1em;
}

.zemgrafe {
    width: 100%;
}

.zemgrafe-label {
    font-family: "Noto Serif", "Times New Roman", "Times", serif;
    text-anchor: middle;
    alignment-baseline: middle;
}

@media screen and (min-width: 768px) {
    .scrolling-sidebar {
        padding-right: 1em;
        height: 75vh;
    }

    .zemgrafe {
        height: 75vh;
    }
}

