<!doctype html>
<html lang="{.language.code}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/resources/bootstrap-4.6.2-dist/css/bootstrap.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="/resources/style.css">

    <title>{title.{.name}}</title>

    <link rel="icon" type="image/svg" href="/resources/images/logo.svg" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-lg">

          <a class="navbar-brand" href="#">
            <img src="/resources/images/logo.svg" width="32" height="32" alt="">
            dunier
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="{menu.toggle_navbar}">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="toggle-navbar">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="./index.html">{menu.index}{If"index" <span class="sr-only">{menu.current}</span>}</a>
              <a class="nav-item nav-link" href="./nam.html">{menu.nam}{If"nam" <span class="sr-only">{menu.current}</span>}</a>
              <a class="nav-item nav-link" href="./tema.html">{menu.tema}{If"tema" <span class="sr-only">{menu.current}</span>}</a>
              <a class="nav-item nav-link" href="https://kunimune.home.blog/contact/">{menu.contact}</a>
            </div>

            <div class="navbar-nav ml-auto">
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="lang-dropdown" role="button" data-toggle="dropdown" aria-expanded="false" aria-label="{menu.language}">
                  <svg class="bi" width="20" viewBox="-38 -38 76 86" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" stroke-width="4" d="M0,-36 A36,36,0,0,0,0,36 A18,36,0,0,0,0,-36 A18,36,0,0,0,0,36 A36,36,0,0,0,0,-36 L0,36 M-36,0 L36,0 M-25.5,25.5 A36,36,0,0,1,25.5,25.5 M-25.5,-25.5 A36,36,0,0,0,25.5,-25.5"/>
                  </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right" role="menu" aria-orientation="vertical">
                  <a class="dropdown-item" href="/en/{.name}.html" role="menuitem">
                    <img src="/resources/images/gb-eng.svg" width="20" height="20" alt="">&nbsp;
                    English
                  </a>
                  <a class="dropdown-item" href="/es/{.name}.html" role="menuitem">
                    <img src="/resources/images/es.svg" width="20" height="20" alt="">&nbsp;
                    español
                  </a>
                  <a class="dropdown-item" href="/jp/{.name}.html" role="menuitem">
                    <img src="/resources/images/jp.svg" width="20" height="20" alt="">&nbsp;
                    日本語
                  </a>
                  <a class="dropdown-item" href="/pd/{.name}.html" role="menuitem">
                    <img src="/resources/images/pandunia.svg" width="20" height="20" alt="">&nbsp;
                    pandunia
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      {Content}
    </main>

    <footer>
      <div class="container-lg">
        <div class="row justify-content-center">

          <div class="col-12 col-sm-10 col-md-6">
            <p>
              <a rel="license"
                 href="https://creativecommons.org/publicdomain/zero/1.0/">
                <img src="https://licensebuttons.net/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
              </a>
              <br />
              To the extent possible under law,
              <a rel="dct:publisher"
                 href="https://jkunimune.github.io/dunier">
                <span property="dct:title">Justin Kunimune</span>
              </a>
              has waived all copyright and related or neighboring rights to
              <span property="dct:title">Dunier</span>.
              This work is published from the
              <span property="vcard:Country" datatype="dct:ISO3166"
                    content="US" about="jkunimune.github.io/dunier">
                United States
              </span>.
            </p>
          </div>

          <div class="col-6 col-sm-5 col-md-3">
            <h5>{menu.pages}</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="./index.html">{menu.index}</a></li>
              <li><a class="text-muted" href="./nam.html">{menu.nam}</a></li>
              <li><a class="text-muted" href="./tema.html">{menu.tema}</a></li>
              <li><a class="text-muted" href="https://kunimune.home.blog/contact/">{menu.contact}</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-5 col-md-3">
            <h5>{menu.languages}</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/en/{.name}.html">English</a></li>
              <li><a class="text-muted" href="/es/{.name}.html">español</a></li>
              <li><a class="text-muted" href="/jp/{.name}.html">日本語</a></li>
              <li><a class="text-muted" href="/pd/{.name}.html">pandunia</a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>

    <div id="bash" style="display: none;">{.language.code}</div>

    <!-- rendering scripts: JQuery, Bootstrap, Bootstrap Input Spinner -->
    <script src="/source/libraries/jquery.min.js" crossorigin="anonymous"></script>
    <script src="/source/libraries/popper.min.js" crossorigin="anonymous"></script>
    <script src="/resources/bootstrap-4.6.2-dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/source/libraries/bootstrap-input-spinner.js"></script>
    <script>
      $("input[type='number']").inputSpinner();
    </script>
  </body>
</html>
