<!doctype html>
<html lang="{.language.fallback}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/resources/style.css">

    <title>{title.{.name}}</title>

    <link rel="icon" type="image/svg" href="/resources/images/logo.svg" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md">
        <div class="container-lg">

          <a class="navbar-brand" href="#">
            <img src="/resources/images/logo.svg" width="32" height="32" alt="">
            dunier<sup class="text-muted">{.version}</sup>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="{menu.toggle_navbar}" onclick="document.getElementById('toggle-navbar').classList.toggle('show');">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="toggle-navbar">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="./index.html">{menu.index}{If {.name} index}<span class="sr-only">{menu.current}</span>{EndIf}</a>
              <a class="nav-item nav-link" href="./nam.html">{menu.nam}{If {.name} nam}<span class="sr-only">{menu.current}</span>{EndIf}</a>
              <a class="nav-item nav-link" href="./tema.html">{menu.tema}{If {.name} tema}<span class="sr-only">{menu.current}</span>{EndIf}</a>
              <a class="nav-item nav-link" href="https://kunimune.home.blog/contact/">{menu.contact}</a>
            </div>

            <div class="navbar-nav ml-auto">
              <div class="nav-item dropdown">
                <select id="lang-dropdown" class="lang-dropdown" aria-label="{menu.language}" onchange="if (this.value !== '{.language}') window.location = `/${this.value}/{.name}.html`; else this.value = 'none';">
                  <option value="none" disabled selected></option>
                  <option value="en">🇬🇧 English</option>
                  <option value="es">🇪🇸 español</option>
                  <option value="ja">🇯🇵 日本語</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      {Content}
    </main>

    <footer>
      <div class="container-lg">
        <div class="row">

          <div class="col-lg">
            <p>
              {menu.copyright.0}<!--
           --><span style="white-space: nowrap">
                <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.{.language.fallback}" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
                  CC0 1.0<!--
               --><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="(Creative Commons logo)"><!--
               --><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt="">
                </a><!--
             -->{menu.copyright.1}
              </span>
            </p>
          </div>

          <div class="col-sm">
            <h5>{menu.pages}</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="./index.html">{menu.index}</a></li>
              <li><a class="text-muted" href="./nam.html">{menu.nam}</a></li>
              <li><a class="text-muted" href="./tema.html">{menu.tema}</a></li>
              <li><a class="text-muted" href="https://kunimune.home.blog/contact/">{menu.contact}</a></li>
            </ul>
          </div>

          <div class="col-sm">
            <h5>{menu.languages}</h5>
            <ul class="list-unstyled text-small">
              <li lang="en"><a class="text-muted" href="/en/{.name}.html">English</a></li>
              <li lang="es"><a class="text-muted" href="/es/{.name}.html">español</a></li>
              <li lang="ja"><a class="text-muted" href="/ja/{.name}.html">日本語</a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>

    <div id="bash" style="display: none;">{.language}</div>

    <!-- rendering scripts: Bootstrap Input Spinner -->
    <script src="/source/libraries/bootstrap-input-spinner.js"></script>
    <script>
      // apply the bootstrap-input-spinner script to every input spinner
      for (const spinner of document.querySelectorAll(".fancy-spinner"))
        // noinspection JSUnresolvedReference
        activateInputSpinner(spinner);
    </script>
  </body>
</html>
