<!-- generation scripts -->
<script src="/source/gui/main.js" type="module" defer></script>

<!-- UI functions -->
<script>
  /** grey out tidal locking for toroidal planets */
  function disableTidalLocking(type) {
    const checkbox = document.getElementById('planet-locked');
    if (type === 'toroid') { // if it's toroidal now
      if (checkbox.checked) { // uncheck tidal locking if we need to
        checkbox.click();
        disableRotationParams(checkbox.checked);
      }
      checkbox.toggleAttribute('disabled', true); // and disable it
    } else { // if it's anything else
      checkbox.toggleAttribute('disabled', false); // enable it
    }
  }

  /** grey out the day length and obliquity when the planet is tidally locked */
  function disableRotationParams(locked) {
    document.getElementById('planet-day').toggleAttribute('disabled', locked); // rotation period
    document.getElementById('planet-tilt').toggleAttribute('disabled', locked); // and obliquity are both irrelevant
  }

  /** hide the map projection selection for flat geoids */
  function hideProjectionSelection(type) {
    const selection = document.getElementById('map-projection-form');
    if (type === 'plane')
      selection.style.display = "none";
    else
      selection.style.display = "block";
  }

  /** change the description of the currently selected map projection */
  function updateProjectionDescription(projection) {
    if (projection === "bonne")
      document.getElementById('map-projection-description').innerHTML = "{parameter.map.type.bonne.description}";
    else if (projection === "conformal_conic")
      document.getElementById('map-projection-description').innerHTML = "{parameter.map.type.conformal_conic.description}";
    else if (projection === "equal_earth")
      document.getElementById('map-projection-description').innerHTML = "{parameter.map.type.equal_earth.description}";
    else {
      document.getElementById('map-projection-description').innerHTML = "?????";
      console.error(`unrecognized map projeccion: '${projection}'`);
    }
  }

  /** show or hide the tooltip, and position it appropriately */
  function toggleTooltip(id) {
    const tooltip = document.getElementById(id);
    const tippedTool = document.getElementById(id + "-icon");
    if (tippedTool.matches(":hover") || tippedTool.matches(":focus") || (tooltip.style.opacity > 0 && tooltip.matches(":hover"))) {
      tooltip.style.opacity = "1";
      const toolLocation = tippedTool.getBoundingClientRect();
      tooltip.style.top = `${(toolLocation.top + toolLocation.bottom)/2}px`;
      tooltip.style.left = `${toolLocation.right}px`;
    }
    else {
      tooltip.style.opacity = "0";
    }
  }
</script>

<div class="container-lg mt-3 mb-3">
  <div id="alert-box">
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="planet-tab" data-toggle="tab" href="#" role="tab" aria-controls="planet-panel" aria-selected="false">{parameter.planet}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="terrain-tab" data-toggle="tab" href="#" role="tab" aria-controls="terrain-panel" aria-selected="false">{parameter.terrain}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="history-tab" data-toggle="tab" href="#" role="tab" aria-controls="history-panel" aria-selected="false">{parameter.history}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="map-tab" data-toggle="tab" href="#" role="tab" aria-controls="map-panel" aria-selected="false">{parameter.map}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="factbook-tab" data-toggle="tab" href="#" role="tab" aria-controls="factbook-panel" aria-selected="true">{parameter.factbook}</a>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane" id="planet-panel" role="tabpanel" aria-labelledby="planet-tab">
      <div class="row mt-2">
        <div class="scrolling-sidebar">
          <form>
            <div class="form-group">
              <label for="planet-type">{parameter.planet.shape}</label>
              <select id="planet-type" onchange="disableTidalLocking(this.value); hideProjectionSelection(this.value);">
                <option selected value="spheroid">{parameter.planet.shape.spheroid}</option>
                <option value="toroid">{parameter.planet.shape.toroid}</option>
                <option value="plane">{parameter.planet.shape.plane}</option>
              </select>
            </div>
            <div class="form-group">
              <div class="custom-checkbox">
                <input type="checkbox" id="planet-locked" onchange="disableRotationParams(this.checked);">
                <label for="planet-locked">{parameter.planet.tidal_lock}</label>
              </div>
            </div>
            <div class="form-group">
              <label for="planet-size">{parameter.planet.circumference}</label>
              {Build type="spinner" value="20000" decimals="0" min="1000" max="80000" step="1000" suffix="km" id="planet-size"}
            </div>
            <div class="form-group">
              <label for="planet-gravity">{parameter.planet.gravity}</label>
              {Build type="spinner" value="1.0" decimals="2" min=".1" max="10" step=".1" suffix="<i>g</i>" id="planet-gravity"}
            </div>
            <div class="form-group">
              <label for="planet-day">{parameter.planet.day}</label>
              {Build type="spinner" value="24" decimals="2" min="1" max="100" step="1" suffix="{unit.hour}" id="planet-day"}
            </div>
            <div class="form-group">
              <label for="planet-tilt">{parameter.planet.tilt}</label>
              {Build type="spinner" value="23.5" decimals="1" min="0" max="90" step="5" suffix="°" id="planet-tilt"}
            </div>
            <button type="button" class="btn btn-block btn-primary" id="planet-apply" disabled>
              <span id="planet-ready" style="display: none">
                {menu.update}
              </span>
              <span id="planet-loading" role="status">
                <img src="/resources/images/lada.gif" height="20" aria-hidden="true" alt="">
                {menu.loading}
              </span>
            </button>
          </form>
        </div>

        <div class="map" id="planet-map">
        </div>
      </div>
    </div>

    <div class="tab-pane" id="terrain-panel" role="tabpanel" aria-labelledby="terrain-tab">
      <div class="row mt-2">
        <div class="scrolling-sidebar">
          <form>
            <div class="form-group">
              <label for="terrain-seed">{parameter.seed}</label>
              {Build type="spinner" value="0" min="0" max="99999999" step="1" id="terrain-seed"}
            </div>
            <div class="form-group">
              <label for="terrain-continents">{parameter.terrain.continents}</label>
              {Build type="spinner" value="3" decimals="0" min="1" max="20" step="1" id="terrain-continents"}
            </div>
            <div class="form-group">
              <label for="terrain-sea-level">{parameter.terrain.sea_level}</label>
              <select id="terrain-sea-level">
                <option value="4">{parameter.terrain.sea_level.3}</option>
                <option value="3">{parameter.terrain.sea_level.2}</option>
                <option value="2">{parameter.terrain.sea_level.1}</option>
                <option selected value="1.5">{parameter.terrain.sea_level.0}</option>
                <option value="1.0">{parameter.terrain.sea_level.-1}</option>
                <option value="0.0">{parameter.terrain.sea_level.-2}</option>
                <option value="-1.5">{parameter.terrain.sea_level.-3}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="terrain-temperature">{parameter.terrain.temperature}</label>
              <select id="terrain-temperature">
                <option value="308">{parameter.terrain.temperature.1}</option>
                <option selected value="288">{parameter.terrain.temperature.0}</option>
                <option value="268">{parameter.terrain.temperature.-1}</option>
              </select>
            </div>
            <button type="button" class="btn btn-block btn-primary" id="terrain-apply" disabled>
              <span id="terrain-ready" style="display: none">
                {menu.update}
              </span>
              <span id="terrain-loading" role="status">
                <img src="/resources/images/lada.gif" height="20" aria-hidden="true" alt="">
                {menu.loading}
              </span>
            </button>
          </form>
        </div>

        <div class="map">
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="-1 -1 2 2" width="100%" height="100%" id="terrain-map">
          </svg>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="history-panel" role="tabpanel" aria-labelledby="history-tab">
      <div class="row mt-2">
        <div class="scrolling-sidebar">
          <form>
            <div class="form-group">
              <label for="history-seed">{parameter.seed}</label>
              {Build type="spinner" value="0" min="0" max="99999999" step="1" id="history-seed"}
            </div>
            <div class="form-group">
              <label for="history-year">{parameter.history.year}</label>
              {Build type="spinner" value="1000" min="-3000" max="1500" step="100" suffix="{unit.year}" id="history-year"}
            </div>
            <div class="form-group">
              <label for="history-meteors">{parameter.history.meteors}</label>
              <select id="history-meteors">
                <option selected value="0">{parameter.history.meteors.none}</option>
                <option value="1e-4">{parameter.history.meteors.once}</option>
                <option value="1e-3">{parameter.history.meteors.millennial}</option>
                <option value="1e-2">{parameter.history.meteors.centennial}</option>
              </select>
            </div>
            <button type="button" class="btn btn-block btn-primary" id="history-apply" disabled>
              <span id="history-ready" style="display: none">
                {menu.update}
              </span>
              <span id="history-loading" role="status">
                <img src="/resources/images/lada.gif" height="20" aria-hidden="true" alt="">
                {menu.loading}
              </span>
            </button>
          </form>
        </div>

        <div class="map">
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="-1 -1 2 2" width="100%" height="100%" id="history-map">
          </svg>
        </div>
      </div>
    </div>

    <div class="tab-pane active" id="map-panel" role="tabpanel" aria-labelledby="map-tab">
      <div class="row mt-2">
        <div class="scrolling-sidebar">
          <form id="accordion">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#" id="map-projection-heading" class="btn btn-link collapsed" aria-expanded="false" aria-controls="map-projection-collapse">
                    {parameter.map.projection}
                  </a>
                </h5>
              </div>
              <div id="map-projection-collapse" class="collapse" aria-labelledby="map-projection-heading" data-parent="#accordion">
                <div class="card-body">
                  <div class="form-group" id="map-projection-form">
                    <label for="map-projection">{parameter.map.type}</label>
                    <div class="input-group">
                      <select id="map-projection" class="form-control" onchange="updateProjectionDescription(this.value);">
                        <option selected value="bonne" aria-description="{parameter.map.type.bonne.description}">{parameter.map.type.bonne}</option>
                        <option value="conformal_conic" aria-description="{parameter.map.type.conformal_conic.description}">{parameter.map.type.conformal_conic}</option>
                        <option value="equal_earth" aria-description="{parameter.map.type.equal_earth.description}">{parameter.map.type.equal_earth}</option>
                      </select>
                      <button type="button" class="info-icon" id="map-projection-description-icon" aria-label="{menu.description}" aria-describedby="map-projection-description" onfocus="toggleTooltip('map-projection-description');" onblur="toggleTooltip('map-projection-description');" onmouseenter="toggleTooltip('map-projection-description');" onmouseleave="toggleTooltip('map-projection-description');">🛈</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="map-shape">{parameter.map.shape}</label>
                    <select id="map-shape">
                      <option selected value="rectangle">{parameter.map.shape.rectangle}</option>
                      <option value="sector">{parameter.map.shape.sector}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="map-orientation">{parameter.map.orientation}</label>
                    <select id="map-orientation">
                      <option selected value="north">{parameter.map.orientation.north}</option>
                      <option value="south">{parameter.map.orientation.south}</option>
                      <option value="east">{parameter.map.orientation.east}</option>
                      <option value="west">{parameter.map.orientation.west}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="map-jung">{parameter.map.focus}</label>
                    <select id="map-jung">
                      <option selected value="0">United States of America</option>
                      <option value="1">China</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#" id="map-colors-heading" class="btn btn-link collapsed" aria-expanded="false" aria-controls="map-colors-collapse">
                    {parameter.map.colors}
                  </a>
                </h5>
              </div>
              <div id="map-colors-collapse" class="collapse" aria-labelledby="map-colors-heading" data-parent="#accordion">
                <div class="card-body">
                  <div class="form-group">
                    <label for="map-land-color">{parameter.map.land_color}</label>
                    <select id="map-land-color">
                      <option value="white">{parameter.map.color.white}</option>
                      <option value="gray">{parameter.map.color.gray}</option>
                      <option selected value="physical">{parameter.map.color.physical}</option>
                      <option value="political">{parameter.map.color.political}</option>
                      <option value="heightmap">{parameter.map.color.heightmap}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="map-sea-color">{parameter.map.sea_color}</label>
                    <select id="map-sea-color">
                      <option value="white">{parameter.map.color.white}</option>
                      <option value="gray">{parameter.map.color.gray}</option>
                      <option selected value="blue">{parameter.map.color.blue}</option>
                      <option value="azure">{parameter.map.color.azure}</option>
                      <option value="black">{parameter.map.color.black}</option>
                      <option value="heightmap">{parameter.map.color.heightmap}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-land-texture" value="none">
                      <label for="map-land-texture">{parameter.map.land_texture}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-sea-texture" value="none">
                      <label for="map-sea-texture">{parameter.map.sea_texture}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#" id="map-features-heading" class="btn btn-link collapsed" aria-expanded="false" aria-controls="map-features-collapse">
                    {parameter.map.features}
                  </a>
                </h5>
              </div>
              <div id="map-features-collapse" class="collapse" aria-labelledby="map-features-heading" data-parent="#accordion">
                <div class="card-body">
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-cities" value="none">
                      <label for="map-cities">{parameter.map.features.cities}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-rivers">
                      <label for="map-rivers">{parameter.map.features.rivers}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-borders" checked>
                      <label for="map-borders">{parameter.map.features.borders}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-shading">
                      <label for="map-shading">{parameter.map.features.shading}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-graticule">
                      <label for="map-graticule">{parameter.map.features.graticule}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-rhumb-net">
                      <label for="map-rhumb-net">{parameter.map.features.rhumb_net}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-windrose">
                      <label for="map-windrose">{parameter.map.features.windrose}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-political-labels" checked>
                      <label for="map-political-labels">{parameter.map.features.political_labels}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-physical-labels">
                      <label for="map-physical-labels">{parameter.map.features.physical_labels}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#" id="map-formatting-heading" class="btn btn-link collapsed" aria-expanded="false" aria-controls="map-formatting-collapse">
                    {parameter.map.formatting}
                  </a>
                </h5>
              </div>
              <div id="map-formatting-collapse" class="collapse" aria-labelledby="map-formatting-heading" data-parent="#accordion">
                <div class="card-body">
                  <div class="form-group">
                    <label for="map-spelling">{parameter.map.spelling}</label>
                    <select id="map-spelling">
                      <option value="null" {If {.language} en} selected {EndIf} {If {.language} es} selected {EndIf}>{parameter.map.spelling.modern}</option>
                      <option value="en">{parameter.map.spelling.en}</option>
                      <option value="es">{parameter.map.spelling.es}</option>
                      <option value="la">{parameter.map.spelling.la}</option>
                      <option value="ja" {If {.language} ja} selected {EndIf}>{parameter.map.spelling.ja}</option>
                      <option value="ru">{parameter.map.spelling.ru}</option>
                      <option value="pd" {If {.language} pd} selected {EndIf}>{parameter.map.spelling.pd}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="map-width">{parameter.map.width}</label>
                    {Build type="spinner" value="28" decimals="1" min="10" max="60" step="1" suffix="cm" id="map-width"}
                  </div>
                  <div class="form-group">
                    <label for="map-height">{parameter.map.height}</label>
                    {Build type="spinner" value="19" decimals="1" min="10" max="60" step="1" suffix="cm" id="map-height"}
                  </div>
                  <div class="form-group">
                    <label for="map-resolution">{parameter.map.resolution}</label>
                    {Build type="spinner" value="150" decimals="0" min="72" max="1200" step="50" suffix="DPI" id="map-resolution"}
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-block btn-primary mt-2" id="map-apply" disabled>
              <span id="map-ready" style="display: none">
                {menu.update}
              </span>
              <span id="map-loading" role="status">
                <img src="/resources/images/lada.gif" height="20" aria-hidden="true" alt="">
                {menu.loading}
              </span>
            </button>
            <button type="button" class="btn btn-block btn-secondary" id="map-download-png">
              {menu.download.png}
            </button>
            <button type="button" class="btn btn-block btn-secondary" id="map-download-svg">
              {menu.download.svg}
            </button>
          </form>
        </div>

        <div class="map">
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="-1 -1 2 2" width="100%" height="100%" id="map-map">
          </svg>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="factbook-panel" role="tabpanel" aria-labelledby="factbook-factbook">
      <div class="row mt-2">
        <div class="scrolling-sidebar">
          <form>
            <button type="button" class="btn btn-block btn-primary" id="factbook-print">
              {menu.print}
            </button>
          </form>
        </div>

        <div class="map justify-content-center">
          <iframe id="factbook-embed" title="{parameter.factbook}">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tooltip fade" role="tooltip" id="map-projection-description" onmouseleave="toggleTooltip('map-projection-description');">{parameter.map.type.bonne.description}</div>
