<!-- generation scripts -->
<script src="/source/gui/mapgui.js" type="module" defer></script>

<!-- UI functions -->
<script>
  /** grey out the day length and obliquity when the planet is tidally locked */
  function disableRotationParams(locked) {
    document.getElementById('planet-day').toggleAttribute('disabled', locked); // rotation period
    document.getElementById('planet-tilt').toggleAttribute('disabled', locked); // and obliquity are both irrelevant

    // also change the labels in the orientation window
    if (locked)
      document.getElementById('map-orientation').innerHTML =
              '<option selected value="north">{parameter.map.orientation.night}</option>\n' +
              '<option value="south">{parameter.map.orientation.day}</option>\n' +
              '<option value="east">{parameter.map.orientation.right}</option>\n' +
              '<option value="west">{parameter.map.orientation.left}</option>\n';
    else
      document.getElementById('map-orientation').innerHTML =
              '<option selected value="north">{parameter.map.orientation.north}</option>\n' +
              '<option value="south">{parameter.map.orientation.south}</option>\n' +
              '<option value="east">{parameter.map.orientation.east}</option>\n' +
              '<option value="west">{parameter.map.orientation.west}</option>\n';
  }

  /** hide the map projection selection for flat geoids */
  function hideProjectionSelection(type) {
    const selection = document.getElementById('map-projection-form');
    if (type === 'plane')
      selection.style.display = "none";
    else
      selection.style.display = "block";
  }

  /** change the description of the currently selected map projection */
  function updateProjectionDescription(projection) {
    if (projection === "bonne")
      document.getElementById('map-projection-description').innerHTML = "{parameter.map.type.bonne.description}";
    else if (projection === "conformal_conic")
      document.getElementById('map-projection-description').innerHTML = "{parameter.map.type.conformal_conic.description}";
    else if (projection === "equal_earth")
      document.getElementById('map-projection-description').innerHTML = "{parameter.map.type.equal_earth.description}";
    else {
      document.getElementById('map-projection-description').innerHTML = "?????";
      console.error(`unrecognized map projeccion: '${projection}'`);
    }
  }

  /** show or hide the tooltip, and position it appropriately */
  function toggleTooltip(id) {
    const tooltip = document.getElementById(id);
    const tippedTool = document.getElementById(id + "-icon");
    if (tippedTool.matches(":hover") || tippedTool.matches(":focus") || (tooltip.style.opacity > 0 && tooltip.matches(":hover"))) {
      // make it visible
      tooltip.style.opacity = "1";
      tooltip.style.pointerEvents = "auto";
      // locate it at the (i) icon
      const toolLocation = tippedTool.getBoundingClientRect();
      tooltip.style.top = `${(toolLocation.top + toolLocation.bottom)/2}px`;
      tooltip.style.left = `${toolLocation.right}px`;
      // adjust its location to keep it from clipping off the right edge of the screen
      const tooltipDimensions = tooltip.getBoundingClientRect();
      const screenWidth = window.innerWidth;
      if (tooltipDimensions.right > screenWidth) {
        tooltip.style.left = `${screenWidth - tooltipDimensions.width}px`;
      }
    }
    else {
      // make it invisible
      tooltip.style.opacity = "0";
      tooltip.style.pointerEvents = "none";
    }
  }
</script>

<div id="test-text" style="position: absolute; opacity: 0; font-size: 20px; font-family: 'Noto Serif','Times New Roman','Times',serif;"></div>

<div class="container-lg mt-3 mb-3">
  <div id="alert-box">
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <button type="button" class="btn btn-link nav-link" id="planet-tab" data-toggle="tab" role="tab" aria-controls="planet-panel" aria-selected="false">{parameter.planet}</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-link nav-link" id="terrain-tab" data-toggle="tab" role="tab" aria-controls="terrain-panel" aria-selected="false">{parameter.terrain}</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-link nav-link" id="history-tab" data-toggle="tab" role="tab" aria-controls="history-panel" aria-selected="false">{parameter.history}</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-link nav-link active" id="map-tab" data-toggle="tab" role="tab" aria-controls="map-panel" aria-selected="true">{parameter.map}</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-link nav-link" id="factbook-tab" data-toggle="tab" role="tab" aria-controls="factbook-panel" aria-selected="false">{parameter.factbook}</button>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane" id="planet-panel" role="tabpanel" aria-labelledby="planet-tab">
      <div class="row mt-2">
        <div class="scrolling-sidebar">
          <form>
            <div class="form-group">
              <label for="planet-type">{parameter.planet.shape}</label>
              <select id="planet-type" onchange="hideProjectionSelection(this.value);">
                <option selected value="spheroid">{parameter.planet.shape.spheroid}</option>
                <option value="toroid">{parameter.planet.shape.toroid}</option>
                <option value="plane">{parameter.planet.shape.plane}</option>
              </select>
            </div>
            <div class="form-group">
              <div class="custom-checkbox">
                <input type="checkbox" id="planet-locked" onchange="disableRotationParams(this.checked);">
                <label for="planet-locked">{parameter.planet.tidal_lock}</label>
              </div>
            </div>
            <div class="form-group">
              <label for="planet-size">{parameter.planet.circumference}</label>
              {Build type="spinner" value="20000" decimals="0" min="1000" max="80000" step="1000" suffix="km" id="planet-size"}
            </div>
            <div class="form-group">
              <label for="planet-gravity">{parameter.planet.gravity}</label>
              {Build type="spinner" value="1.0" decimals="2" min=".1" max="10" step=".1" suffix="<i>g</i>" id="planet-gravity"}
            </div>
            <div class="form-group">
              <label for="planet-day">{parameter.planet.day}</label>
              {Build type="spinner" value="24" decimals="2" min="1" max="100" step="1" suffix="{unit.hour}" id="planet-day"}
            </div>
            <div class="form-group">
              <label for="planet-tilt">{parameter.planet.tilt}</label>
              {Build type="spinner" value="23.5" decimals="1" min="0" max="90" step="5" suffix="°" id="planet-tilt"}
            </div>
            <button type="button" class="btn btn-block btn-primary" id="planet-apply" disabled>
              <span id="planet-ready" style="display: none">
                {menu.update}
              </span>
              <span id="planet-loading" role="status">
                <img src="/resources/lada.gif" height="20" aria-hidden="true" alt="">
                {menu.loading}
              </span>
            </button>
          </form>
        </div>

        <div class="map" id="planet-map-container">
        </div>
      </div>
    </div>

    <div class="tab-pane" id="terrain-panel" role="tabpanel" aria-labelledby="terrain-tab">
      <div class="row mt-2">
        <div class="scrolling-sidebar">
          <form>
            <div class="form-group">
              <label for="terrain-seed">{parameter.seed}</label>
              {Build type="spinner" value="0" min="0" max="99999999" step="1" id="terrain-seed"}
            </div>
            <div class="form-group">
              <label for="terrain-continents">{parameter.terrain.continents}</label>
              {Build type="spinner" value="6" decimals="0" min="1" max="20" step="1" id="terrain-continents"}
            </div>
            <div class="form-group">
              <label for="terrain-sea-level">{parameter.terrain.sea_level}</label>
              <select id="terrain-sea-level">
                <option value="4">{parameter.terrain.sea_level.3}</option>
                <option value="3">{parameter.terrain.sea_level.2}</option>
                <option value="2">{parameter.terrain.sea_level.1}</option>
                <option selected value="1.5">{parameter.terrain.sea_level.0}</option>
                <option value="1.0">{parameter.terrain.sea_level.-1}</option>
                <option value="0.0">{parameter.terrain.sea_level.-2}</option>
                <option value="-1.5">{parameter.terrain.sea_level.-3}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="terrain-temperature">{parameter.terrain.temperature}</label>
              <select id="terrain-temperature">
                <option value="35">{parameter.terrain.temperature.1}</option>
                <option selected value="15">{parameter.terrain.temperature.0}</option>
                <option value="-5">{parameter.terrain.temperature.-1}</option>
              </select>
            </div>
            <button type="button" class="btn btn-block btn-primary" id="terrain-apply" disabled>
              <span id="terrain-ready" style="display: none">
                {menu.update}
              </span>
              <span id="terrain-loading" role="status">
                <img src="/resources/lada.gif" height="20" aria-hidden="true" alt="">
                {menu.loading}
              </span>
            </button>
          </form>
        </div>

        <div class="map" id="terrain-map-container">
        </div>
      </div>
    </div>

    <div class="tab-pane" id="history-panel" role="tabpanel" aria-labelledby="history-tab">
      <div class="row mt-2">
        <div class="scrolling-sidebar">
          <form>
            <div class="form-group">
              <label for="history-seed">{parameter.seed}</label>
              {Build type="spinner" value="0" min="0" max="99999999" step="1" id="history-seed"}
            </div>
            <div class="form-group">
              <label for="history-year">{parameter.history.year}</label>
              {Build type="spinner" value="1000" min="-3000" max="1500" step="100" suffix="{unit.year}" id="history-year"}
            </div>
            <div class="form-group">
              <label for="history-meteors">{parameter.history.meteors}</label>
              <select id="history-meteors">
                <option selected value="0">{parameter.history.meteors.none}</option>
                <option value="1e-4">{parameter.history.meteors.once}</option>
                <option value="1e-3">{parameter.history.meteors.millennial}</option>
                <option value="1e-2">{parameter.history.meteors.centennial}</option>
              </select>
            </div>
            <button type="button" class="btn btn-block btn-primary" id="history-apply" disabled>
              <span id="history-ready" style="display: none">
                {menu.update}
              </span>
              <span id="history-loading" role="status">
                <img src="/resources/lada.gif" height="20" aria-hidden="true" alt="">
                {menu.loading}
              </span>
            </button>
          </form>
        </div>

        <div class="map" id="history-map-container">
        </div>
      </div>
    </div>

    <div class="tab-pane active" id="map-panel" role="tabpanel" aria-labelledby="map-tab">
      <div class="row mt-2">
        <div class="scrolling-sidebar">
          <form id="accordion">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button type="button" id="map-content-heading" class="btn btn-link collapsed" aria-expanded="false" aria-controls="map-projection-collapse">
                    {parameter.map.content}
                  </button>
                </h5>
              </div>
              <div id="map-content-collapse" class="collapse" aria-labelledby="map-content-heading" data-parent="#accordion">
                <div class="card-body">
                  <div class="form-group">
                    <label for="map-jung">{parameter.map.focus}</label>
                    <select id="map-jung">
                      <option value="world">{{parameter.map.focus.whole_world}}</option>
                      <option selected value="continent0">{{parameter.map.focus.continent}}</option>
                    </select>
                  </div>
                  <div class="form-group" id="map-projection-form">
                    <label for="map-projection">{parameter.map.type}</label>
                    <div class="input-group">
                      <select id="map-projection" class="form-control" onchange="updateProjectionDescription(this.value);">
                        <option value="bonne">{parameter.map.type.bonne}</option>
                        <option selected value="conformal_conic">{parameter.map.type.conformal_conic}</option>
                        <option value="equal_earth">{parameter.map.type.equal_earth}</option>
                        <option value="mercator">{parameter.map.type.mercator}</option>
                      </select>
                      <button type="button" class="info-icon" id="map-projection-description-icon" aria-label="{menu.description}" aria-describedby="map-projection-description" onfocus="toggleTooltip('map-projection-description');" onblur="toggleTooltip('map-projection-description');" onmouseenter="toggleTooltip('map-projection-description');" onmouseleave="toggleTooltip('map-projection-description');">🛈</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="map-shape">{parameter.map.shape}</label>
                    <select id="map-shape">
                      <option selected value="rectangle">{parameter.map.shape.rectangle}</option>
                      <option value="sector">{parameter.map.shape.sector}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="map-orientation">{parameter.map.orientation}</label>
                    <select id="map-orientation">
                      <option selected value="north">{parameter.map.orientation.north}</option>
                      <option value="south">{parameter.map.orientation.south}</option>
                      <option value="east">{parameter.map.orientation.east}</option>
                      <option value="west">{parameter.map.orientation.west}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button type="button" id="map-style-heading" class="btn btn-link collapsed" aria-expanded="false" aria-controls="map-style-collapse">
                    {parameter.map.style}
                  </button>
                </h5>
              </div>
              <div id="map-style-collapse" class="collapse" aria-labelledby="map-style-heading" data-parent="#accordion">
                <div class="card-body">
                  <div class="form-group">
                    <label for="map-color">{parameter.map.color}</label>
                    <select id="map-color">
                      <option value="white">{parameter.map.color.white}</option>
                      <option value="gray">{parameter.map.color.gray}</option>
                      <option value="black">{parameter.map.color.black}</option>
                      <option value="wikipedia">{parameter.map.color.wikipedia}</option>
                      <option value="sepia">{parameter.map.color.sepia}</option>
                      <option selected value="physical">{parameter.map.color.physical}</option>
                      <option value="political">{parameter.map.color.political}</option>
                      <option value="heightmap">{parameter.map.color.heightmap}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-land-texture" value="none">
                      <label for="map-land-texture">{parameter.map.land_texture}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-sea-texture" value="none">
                      <label for="map-sea-texture">{parameter.map.sea_texture}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-shading">
                      <label for="map-shading">{parameter.map.features.shading}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-rivers">
                      <label for="map-rivers">{parameter.map.features.rivers}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-borders" checked>
                      <label for="map-borders">{parameter.map.features.borders}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-graticule" checked>
                      <label for="map-graticule">{parameter.map.features.graticule}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-windrose">
                      <label for="map-windrose">{parameter.map.features.windrose}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input type="checkbox" id="map-political-labels" checked>
                      <label for="map-political-labels">{parameter.map.features.political_labels}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button type="button" id="map-formatting-heading" class="btn btn-link collapsed" aria-expanded="false" aria-controls="map-formatting-collapse">
                    {parameter.map.formatting}
                  </button>
                </h5>
              </div>
              <div id="map-formatting-collapse" class="collapse" aria-labelledby="map-formatting-heading" data-parent="#accordion">
                <div class="card-body">
                  <div class="form-group">
                    <label for="map-spelling">{parameter.map.spelling}</label>
                    <select id="map-spelling">
                      <option value="(default)">{parameter.map.spelling.modern}</option>
                      <option value="en">{parameter.map.spelling.en}</option>
                      <option value="es" {If {.language} es} selected {EndIf}>{parameter.map.spelling.es}</option>
                      <option value="la" {If {.language} en} selected {EndIf}>{parameter.map.spelling.la}</option>
                      <option value="ja" {If {.language} ja} selected {EndIf}>{parameter.map.spelling.ja}</option>
                      <option value="ru">{parameter.map.spelling.ru}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="map-width-mm">{parameter.map.width}</label>
                    {Build type="spinner" value="210" decimals="0" min="20" max="1200" step="10" suffix="mm" id="map-width-mm"}
                  </div>
                  <div class="form-group">
                    <label for="map-height-mm">{parameter.map.height}</label>
                    {Build type="spinner" value="148" decimals="0" min="20" max="1200" step="10" suffix="mm" id="map-height-mm"}
                  </div>
                  <div class="form-group">
                    <label for="map-width-px">{parameter.map.width.px}</label>
                    {Build type="spinner" value="1260" decimals="0" min="64" max="12000" step="50" suffix="px" id="map-width-px"}
                  </div>
                  <div class="form-group">
                    <label for="map-height-px">{parameter.map.height.px}</label>
                    {Build type="spinner" value="888" decimals="0" min="64" max="12000" step="50" suffix="px" id="map-height-px"}
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-block btn-primary mt-2" id="map-apply" disabled>
              <span id="map-ready" style="display: none">
                {menu.update}
              </span>
              <span id="map-loading" role="status">
                <img src="/resources/lada.gif" height="20" aria-hidden="true" alt="">
                {menu.loading}
              </span>
            </button>
            <button type="button" class="btn btn-block btn-secondary" id="map-download-png">
              {menu.download.png}
            </button>
            <button type="button" class="btn btn-block btn-secondary" id="map-download-svg">
              {menu.download.svg}
            </button>
          </form>
        </div>

        <div class="map" id="map-map-container">
        </div>
      </div>
    </div>

    <div class="tab-pane" id="factbook-panel" role="tabpanel" aria-labelledby="factbook-factbook">
      <div class="row mt-2">
        <div class="scrolling-sidebar">
          <form>
            <button type="button" class="btn btn-block btn-secondary" id="factbook-download-html">
              {menu.download.html}
            </button>
            <button type="button" class="btn btn-block btn-secondary" id="factbook-print">
              {menu.print}
            </button>
          </form>
        </div>

        <div class="map justify-content-center">
          <iframe id="factbook-embed" title="{parameter.factbook}">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tooltip fade" role="tooltip" id="map-projection-description" onmouseleave="toggleTooltip('map-projection-description');">{parameter.map.type.bonne.description}</div>
