<!-- generation scripts -->
<script src="/source/gui/namegenerator.js" type="module" defer></script>

<div class="container-lg mt-3 mb-4">
  <div id="alert-box">
  </div>

  <div class="row p-2">
    <div id="xef-kolum" class="col-md">
      <form class="input-group">
        <div class="input-group-prepend">
          <button type="button" class="btn btn-primary mt-2" id="back">
            ◀
          </button>
        </div>
        <div class="input-group-append input-group-main">
          <button type="button" class="btn btn-primary mt-2" id="reroll" disabled>
            {menu.reroll}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row p-2">
    <div id="column-1" class="col-md">
      <ul id="name-list-1" class="list-group">
      </ul>
    </div>
    <div id="column-2" class="col-md">
      <ul id="name-list-2" class="list-group">
      </ul>
    </div>
  </div>
</div>
