<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{kitabe.tem-nam}}</title>

    <link rel="icon" type="image/svg" href="/res/logo.svg" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/res/logo.svg" width="35" height="35" alt="">
            dunhamar
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#siri-daweurekia" aria-controls="siri-daweurekia" aria-expanded="false" aria-label="{{menuw.toggle-faxe}}">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="siri-daweurekia">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">{{menuw.dome}}<span class="sr-only"> ({{menuw.zay}})</span></a>
              <a class="nav-item nav-link" href="./tema.html">{{menuw.tema}}</a>
              <a class="nav-item nav-link" href="https://kunimune.home.blog/contact/">{{menuw.poste}}</a>
            </div>
            <div class="navbar-nav ml-auto">
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="lang-dropdown" role="button" data-toggle="dropdown" aria-expanded="false" aria-label="{{menuw.baxe}}">
                  <svg class="bi" width="20" viewBox="-38 -38 76 86" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" stroke-width="4" d="M0,-36 A36,36,0,0,0,0,36 A18,36,0,0,0,0,-36 A18,36,0,0,0,0,36 A36,36,0,0,0,0,-36 L0,36 M-36,0 L36,0 M-25.5,25.5 A36,36,0,0,1,25.5,25.5 M-25.5,-25.5 A36,36,0,0,0,25.5,-25.5"/>
                  </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right" role="menu" aria-orientation="vertical">
                  <a class="dropdown-item" href="/bax/en/" role="menuitem">
                    <img src="/res/flags/gb-eng.svg" width="20" height="20" alt="">&nbsp;
                    English
                  </a>
                  <a class="dropdown-item" href="/bax/es/" role="menuitem">
                    <img src="/res/flags/es.svg" width="20" height="20" alt="">&nbsp;
                    español
                  </a>
                  <a class="dropdown-item" href="/bax/jp/" role="menuitem">
                    <img src="/res/flags/jp.svg" width="20" height="20" alt="">&nbsp;
                    日本語
                  </a>
                  <a class="dropdown-item" href="/bax/pd/" role="menuitem">
                    <img src="/res/flags/pandunia.svg" width="20" height="20" alt="">&nbsp;
                    pandunia
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      <div class="container mt-3 mb-5">
        <div id="alert-box">
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item nav-fill">
            <a class="nav-link active" id="planet-tab" data-toggle="tab" href="#planet-panel" role="tab" aria-controls="planet" aria-selected="true">{{menuw.planete}}</a>
          </li>
          <li class="nav-item nav-fill">
            <a class="nav-link" id="terrain-tab" data-toggle="tab" href="#terrain-panel" role="tab" aria-controls="terrain" aria-selected="false">{{menuw.zem-forme}}</a>
          </li>
          <li class="nav-item nav-fill">
            <a class="nav-link" id="history-tab" data-toggle="tab" href="#history-panel" role="tab" aria-controls="history" aria-selected="false">{{menuw.histore}}</a>
          </li>
          <li class="nav-item nav-fill">
            <a class="nav-link" id="map-tab" data-toggle="tab" href="#map-panel" role="tab" aria-controls="map" aria-selected="false">{{menuw.karte}}</a>
          </li>
        </ul>

        <div class="tab-content">

          <div class="tab-pane fade show active" id="planet-panel" role="tabpanel" aria-labelledby="planet-tab">
            <div class="container mt-2">
              <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-3">
                  <form>
                    <div class="form-group">
                      <label for="planet-type">{{menuw.forme}}</label>
                      <select class="custom-select" id="planet-type" onchange="disableTidalLocking(this.value)">
                        <option selected value="0">{{menuw.bol}}</option>
                        <option value="1">{{menuw.wen}}</option>
                        <option value="2">{{menuw.plate}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="planet-locked" onchange="disableRotationParams(this.value)">
                        <label class="custom-control-label" for="planet-locked">{{menuw.sori}}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="planet-size">{{menuw.cirk-mete}}</label>
                      <input type="number" value="20000" data-decimals="0" min="1000" max="80000" step="1000" data-suffix="km" id="planet-size"/>
                    </div>
                    <div class="form-group">
                      <label for="planet-gravity">{{menuw.baria}}</label>
                      <input type="number" value="1.0" data-decimals="2" min=".1" max="10" step=".1" data-suffix="<i>g</i>" id="planet-gravity"/>
                    </div>
                    <div class="form-group">
                      <label for="planet-day">{{menuw.den}}</label>
                      <input type="number" value="24" data-decimals="2" min="1" max="100" step="1" data-suffix="{{un-mete.hor}}" id="planet-day"/>
                    </div>
                    <div class="form-group">
                      <label for="planet-tilt">{{menuw.tercia}}</label>
                      <input type="number" value="23.5" data-decimals="1" min="0" max="90" step="5" data-suffix="°" id="planet-tilt"/>
                    </div>
                    <button type="button" class="btn btn-block btn-primary" id="planet-apply">{{menuw.kara}}</button>
                  </form>
                </div>

                <div class="col-xs-12 col-md-8 col-lg-9" id="planet-map">
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="terrain-panel" role="tabpanel" aria-labelledby="terrain-tab">
            <div class="container mt-2">
              <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-3">
                  <form>
                    <div class="form-group">
                      <label for="terrain-seme">{{menuw.seme}}</label>
                      <input type="number" value="0" min="0" max="99999999" step="1" id="terrain-seme"/>
                    </div>
                    <div class="form-group">
                      <label for="terrain-continents">{{menuw.day-nese}}</label>
                      <input type="number" value="3" data-decimals="0" min="1" max="20" step="1" id="terrain-continents"/>
                    </div>
                    <div class="form-group">
                      <label for="terrain-samud">{{menuw.samud-gawia}}</label>
                      <select class="custom-select" id="terrain-samud">
                        <option value="4">{{menuw.gawi-3}}</option>
                        <option value="3">{{menuw.gawi-2}}</option>
                        <option value="2">{{menuw.gawi-1}}</option>
                        <option selected value="1.5">{{menuw.medi}}</option>
                        <option value="1">{{menuw.tali-1}}</option>
                        <option value="-0.5">{{menuw.tali-2}}</option>
                        <option value="-1.5">{{menuw.tali-3}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="terrain-terme">{{menuw.terme}}</label>
                      <select class="custom-select" id="terrain-terme">
                        <option value="308">{{menuw.garmi}}</option>
                        <option selected value="288">{{menuw.medi}}</option>
                        <option value="268">{{menuw.lengi}}</option>
                      </select>
                    </div>
                    <button type="button" class="btn btn-block btn-primary" id="terrain-apply">{{menuw.kara}}</button>
                  </form>
                </div>

                <div class="col-xs-12 col-md-8 col-lg-9">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       viewBox="-1 -1 2 2" width="100%" height="100%" id="terrain-map">
                    <filter id="blur">
                      <feGaussianBlur in="SourceGraphic" stdDeviation=".003" />
                    </filter>
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="history-panel" role="tabpanel" aria-labelledby="history-tab">
            <div class="container mt-2">
              <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-3">
                  <form>
                    <div class="form-group">
                      <label for="history-seme">{{menuw.seme}}</label>
                      <input type="number" value="0" min="0" max="99999999" step="1" id="history-seme"/>
                    </div>
                    <div class="form-group">
                      <label for="history-nen">{{menuw.nen-mes-den}}</label>
                      <input type="number" value="1000" min="-3000" max="1500" step="100" data-suffix="{{un-mete.nen}}" id="history-nen"/>
                    </div>
                    <div class="form-group">
                      <label for="history-imperistia">{{menuw.imper-istia}}</label>
                      <input type="number" value="100" data-decimals="0" min="10" max="1000" step="10" data-suffix="{{un-mete.metre-mey-nen}}" id="history-imperistia"/>
                    </div>
                    <div class="form-group">
                      <label for="history-injenivia">{{menuw.injenivia}}</label>
                      <input type="number" value="100" data-decimals="0" min="10" max="1000" step="10" data-suffix="{{un-mete.mey-gigonen}}" id="history-injenivia"/>
                    </div>
                    <div class="form-group">
                      <label for="history-katastrofe">{{menuw.katastrofe}}</label>
                      <select class="custom-select" id="history-katastrofe">
                        <option selected value="0">{{menuw.nol}}</option>
                        <option value="1e-4">{{menuw.un}}</option>
                        <option value="1e-3">{{menuw.mey-kilnen}}</option>
                        <option value="1e-2">{{menuw.mey-hononen}}</option>
                      </select>
                    </div>
                    <button type="button" class="btn btn-block btn-primary" id="history-apply">{{menuw.kara}}</button>
                  </form>
                </div>

                <div class="col-xs-12 col-md-8 col-lg-9">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       viewBox="-1 -1 2 2" width="100%" height="100%" id="history-map">
                    <filter id="blur">
                      <feGaussianBlur in="SourceGraphic" stdDeviation=".003" />
                    </filter>
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="map-panel" role="tabpanel" aria-labelledby="map-tab">
            <div class="container mt-2">
              <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-3">
                  <form>
                    <div class="form-group">
                      <label for="map-projection">{{menuw.lancografe}}</label>
                      <select class="custom-select" id="map-projection">
                        <option selected value="equirectangular">{{menuw.cargone}}</option>
                        <option value="mercator">{{menuw.merkator}}</option>
                        <option value="azimuthal-equidistant">{{menuw.asimuti}}</option>
                        <option value="eckert">{{menuw.ekerte}}</option>
                        <option value="bonne">{{menuw.bone}}</option>
                        <option value="conformal-conic">{{menuw.konusi}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="map-dixe">{{menuw.dixe}}</label>
                      <select class="custom-select" id="map-dixe">
                        <option selected value="norde">{{menuw.norde}}</option>
                        <option value="sude">{{menuw.sude}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="map-dongwestia">{{menuw.dongwestia}}</label>
                      <input type="number" value="0" data-decimals="0" min="-180" max="180" step="15" data-suffix="°" id="map-dongwestia"/>
                    </div>
                    <div class="form-group">
                      <label for="map-zemrang">{{menuw.zemrang}}</label>
                      <select class="custom-select" id="map-zemrang">
                        <option value="baki">{{menuw.baki}}</option>
                        <option value="huyi">{{menuw.huyi}}</option>
                        <option selected value="lugi">{{menuw.lugi}}</option>
                        <option value="jivi">{{menuw.jivi}}</option>
                        <option value="politiki">{{menuw.politiki}}</option>
                         <option value="gawia">{{menuw.gawia}}</option>
                     </select>
                    </div>
                    <div class="form-group">
                      <label for="map-marorang">{{menuw.marorang}}</label>
                      <select class="custom-select" id="map-marorang">
                        <option value="baki">{{menuw.baki}}</option>
                        <option value="huyi">{{menuw.huyi}}</option>
                        <option selected value="nili">{{menuw.nili}}</option>
                        <option value="cerni">{{menuw.cerni}}</option>
                        <option value="gawia">{{menuw.gawia}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="map-filter">{{menuw.filter}}</label>
                      <select class="custom-select" id="map-filter">
                        <option selected value="nol">{{menuw.nol}}</option>
                        <option value="pili">{{menuw.pili}}</option>
                        <option value="bakocerni">{{menuw.bakocerni}}</option>
                        <option value="mirdi">{{menuw.mirdi}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <h6>{{menuw.zemforme}}</h6>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="jive" id="map-zemforme-kale" value="kale" checked>
                        <label class="form-check-label" for="map-zemforme-kale">{{menuw.kale}}</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="jive" id="map-zemforme-desene" value="desene">
                        <label class="form-check-label" for="map-zemforme-desene">{{menuw.desene}}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <h6>{{menuw.mare}}</h6>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="mare" id="map-mar-kale" value="kale" checked>
                        <label class="form-check-label" for="map-mar-kale">{{menuw.kale}}</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="mare" id="map-mar-linye" value="linye">
                        <label class="form-check-label" for="map-mar-linye">{{menuw.desene}}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <h6>{{menuw.site}}</h6>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="site" id="map-site-nol" value="kale" checked>
                        <label class="form-check-label" for="map-site-nol">{{menuw.kale}}</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="site" id="map-site-binde" value="binde">
                        <label class="form-check-label" for="map-site-binde">{{menuw.binde}}</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="site" id="map-site-grafe" value="desene">
                        <label class="form-check-label" for="map-site-grafe">{{menuw.desene}}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="map-saye">
                        <label class="custom-control-label" for="map-saye">{{menuw.saye}}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="map-zemnete">
                        <label class="custom-control-label" for="map-zemnete">{{menuw.zemnete}}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="map-dawnete">
                        <label class="custom-control-label" for="map-dawnete">{{menuw.dawnete}}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="map-pontopine">
                        <label class="custom-control-label" for="map-pontopine">{{menuw.pontopine}}</label>
                      </div>
                    </div>
                    <button type="button" class="btn btn-block btn-primary" id="map-apply">{{menuw.kara}}</button>
                  </form>
                </div>

                <div class="col-xs-12 col-md-8 col-lg-9">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       viewBox="-1 -1 2 2" width="100%" height="100%" id="map-map">
                    <filter id="blur">
                      <feGaussianBlur in="SourceGraphic" stdDeviation=".003" />
                    </filter>
                  </svg>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>

    <div id="baxe" style="display: none;">{{baxe.kode}}</div>

    <!-- rendering scripts: JQuery, Bootstrap, Bootstrap Input Spinner -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/src/lib/bootstrap-input-spinner.js"></script>
    <script>
      $("input[type='number']").inputSpinner()
    </script>

    <!-- generation scripts -->
    <script src="/src/main.js" type="module"></script>

    <!-- UI functions -->
    <script>
      function disableTidalLocking(type) {
          const checkbox = $('#planet-locked');
          if (type === '1') { // if it's toroidal now
              if (checkbox.prop('checked')) { // uncheck tidal locking if we need to
                  checkbox.click();
                  disableRotationParams(checkbox.prop('checked'));
              }
              checkbox.prop('disabled', true); // and disable it
          } else { // if it's anything else
              checkbox.prop('disabled', false); // enable it
          }
      }

      function disableRotationParams(locked) {
        $('#planet-day').prop('disabled', locked); // rotation period
        $('#planet-tilt').prop('disabled', locked); // and obliquity are both irrelevant
      }
    </script>
  </body>
</html>
